<nav>
  <div class="site-title">
    <a href="/"><h1>blogpengu1n</h1></a>
    <p style="font-family:verdana">A jeal0uspengu1n site</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/create">New Blog</a></li>
  </ul>
</nav>
